[Desktop Entry]
Categories=Settings;
Exec=biglinux-welcome
Icon=biglinux-welcome
Name=BigLinux Welcome
Comment=Initial setup and feature introduction for BigLinux
StartupWMClass=org.biglinux.welcome
Name[bg]=BigLinux Добре дошли
Comment[bg]=Начална настройка и представяне на функциите на BigLinux
Name[cs]=BigLinux Vítejte
Comment[cs]=Počáteční nastavení a představení funkcí BigLinux
Name[da]=BigLinux Velkommen
Comment[da]=Indledende opsætning og introduktion til BigLinux-funktioner
Name[de]=BigLinux Willkommen
Comment[de]=Ersteinrichtung und Funktionsvorstellung für BigLinux
Name[el]=BigLinux Καλώς Ορίσατε
Comment[el]=Αρχική ρύθμιση και εισαγωγή χαρακτηριστικών για το BigLinux
Name[es]=BigLinux Bienvenido
Comment[es]=Configuración inicial e introducción a las características de BigLinux
Name[et]=BigLinux Tere Tulemast
Comment[et]=BigLinuxi algseadistamine ja funktsioonide tutvustus
Name[fi]=BigLinux Tervetuloa
Comment[fi]=BigLinuxin alkuasetus ja ominaisuuksien esittely
Name[fr]=BigLinux Bienvenue
Comment[fr]=Configuration initiale et présentation des fonctionnalités de BigLinux
Name[he]=BigLinux ברוך הבא
Comment[he]=הגדרה ראשונית והיכרות עם תכונות BigLinux
Name[hr]=BigLinux Dobrodošli
Comment[hr]=Početno postavljanje i uvod u značajke BigLinuxa
Name[hu]=BigLinux Üdvözlő
Comment[hu]=Kezdeti beállítás és a BigLinux funkcióinak bemutatása
Name[is]=BigLinux Velkomin
Comment[is]=Upphafsuppsetning og kynning á eiginleikum BigLinux
Name[it]=BigLinux Benvenuto
Comment[it]=Configurazione iniziale e introduzione alle funzionalità di BigLinux
Name[ja]=BigLinux ようこそ
Comment[ja]=BigLinuxの初期設定と機能紹介
Name[ko]=BigLinux 환영
Comment[ko]=BigLinux 초기 설정 및 기능 소개
Name[nl]=BigLinux Welkom
Comment[nl]=Eerste setup en introductie van BigLinux-functies
Name[no]=BigLinux Velkommen
Comment[no]=Innledende oppsett og funksjonsintroduksjon for BigLinux
Name[pl]=BigLinux Witamy
Comment[pl]=Początkowa konfiguracja i wprowadzenie do funkcji BigLinux
Name[pt]=BigLinux Bem-vindo
Comment[pt]=Configuração inicial e introdução aos recursos do BigLinux
Name[ro]=BigLinux Bun venit
Comment[ro]=Configurare inițială și introducere în caracteristicile BigLinux
Name[ru]=BigLinux Добро пожаловать
Comment[ru]=Первоначальная настройка и знакомство с функциями BigLinux
Name[sk]=BigLinux Vitajte
Comment[sk]=Počiatočné nastavenie a predstavenie funkcií BigLinux
Name[sv]=BigLinux Välkommen
Comment[sv]=Inledande installation och funktionsintroduktion för BigLinux
Name[tr]=BigLinux Hoş Geldiniz
Comment[tr]=BigLinux için başlangıç kurulumu ve özellik tanıtımı
Name[uk]=BigLinux Ласкаво просимо
Comment[uk]=Початкове налаштування та знайомство з функціями BigLinux
Name[zh]=BigLinux 欢迎
Comment[zh]=BigLinux 初始设置和功能介绍
StartupNotify=true
Terminal=false
Type=Application
